<% provide(:title, 'Welcome') %>
<br>

<!--<ul class="right button-group">-->
   <!--<li><a href="#" class="button">Link 1</a></li>-->
   <!--<li><a href="#" class="button">Link 2</a></li>-->
   <!--<li><a href="#" class="button">Link 3</a></li>-->
<!--</ul> -->

<div class="row">
   <div class="large-8 large-offset-2 columns">
	 <%=image_tag("logo.jpg", alt:"Wizard Court")%>
      <!--<img src="/assets/images/logo.jpg" alt="Wizard Court" />-->
      <h4 align="center">Our Vision and Mission</h4>
      <p align="justify">The Wizard Court Medical Clinic, was founded in 1973, and doing business as WitchesMed since 2001. Wizard Court is a non-profit Federally Qualified Health Center, and offers primary medical and dental care, behavioral health services, nutritional services, and other support services through a network of 15 sites localted throughout Texas. Since 1980, Wizard Court has received three-year accreditation from The Joint Commission and was most recently reaccredited in 2010.</p>
   </div>
</div>

<br>
<br>

<div class="row">
   <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[Intro]" />
      <h4 align="center">Our Values.</h4>
      <p align="justify"><b>Respect:</b> Committed to treat all persons with dignity and compassion.<br>
<b>Integrity:</b> Committed to build trust through honesty, word and deed.<br>
<b>Development:</b> Committed to personal and professional development.<br>
<b>Excellence:</b> Committed to superior performance, quality care, creative thinking, and teamwork.</p>
   </div>

   <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[Usage]" />
      <h4 align="center">Patient Care</h4>
      <p align="justify">Wizard Court is a non-for-profit organization with more than 3,300 physicians, scientists and researches to share their expertise to empower you. We are committed to provide excellent quality service to all our employees, and specially you. Find out why Wizard Court Medical Clinic is the right place for your health care.</p>
   </div>

   <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[Help]" />
      <h4 align="center">Online Service</h4>
      <p align="justify"> See your results and records as fast as your clinician does. Manage your appointments with updated schedule/instructions. Handle your bills more quickly and simply. Our medical providers will review your medical history, and discuss any concerns you may have. Physicians on duty at all times. Prompt and personal attention in a convenient, and easily accessible way.</p>
   </div>

</div>
<br>
<br>
<br>
<!-- Call to Action Panel -->
<div class="row">
   <div class="large-12 columns">

      <div class="panel">
         <h4>Skip the Waiting Room</h4>

         <div class="row">
            <div class="large-9 columns">
               <p>Feel better now by registering with us today!</p>
            </div>
            <div class="large-3 columns">
               <a href="#" class="radius button right">Click Here!</a>
            </div>
         </div>
      </div>

   </div>
</div>
<br>
