<div class="row">
   <div class="large-12 columns">
      <h3>Charts n' shit</h3>

      <dl class="accordion" data-accordion>
         <dd>
            <a href="#panel1">A Chart</a>
            <div id="panel1" class="content">
               I AM SOME MUTHA FUCK'N CHART DATA, MUTHA FUKA. -SAMLJACK
            </div>
         </dd>
      </dl>
   </div>
</div>