<div class="row calendar">
   <div class="large-10 columns">
      <table class="calendar">
         <thead>
            <tr width="300">Sun</tr>
            <tr width="300">Mon</tr>
            <tr width="300">Tue</tr>
            <tr width="300">Wed</tr>
            <tr width="300">Thu</tr>
            <tr width="300">Fri</tr>
            <tr width="300">Sat</tr>
         </thead>

         <tbody>
            <tr>
               <td class="inactive">
                  <div><span class="day">29</span></div>
               </td>
               <td class="inactive">
                  <div><span class="day">30</span></div>
               </td>
               <td class="inactive">
                  <div><span class="day">31</span></div>
               </td>
               <td>
                  <div>
                     <span class="day">1</span>
                     <span class="event green">Poop vs Pee</span>
                     <span class="event blue">Practice Vomit</span>
                     <span class="event yellow">Eat chips</span>
                  </div>
                  <div>
                     <span class="day">2</span>
                  </div>
                  <div>
                     <span class="day">3</span>
                  </div>
                  <div>
                     <span class="day">4</span>
                  </div>
                  <div>
                     <span class="day">5</span>
                  </div>
                  <div>
                     <span class="day">6</span>
                  </div>
                  <div>
                     <span class="day">7</span>
                  </div>
                  <div>
                     <span class="day">8</span>
                  </div>
                  <div>
                     <span class="day">9</span>
                  </div>
                  <div>
                     <span class="day">10</span>
                  </div>
                  <div>
                     <span class="day">11</span>
                  </div>
                  <div>
                     <span class="day">12</span>
                  </div>
                  <div>
                     <span class="day">13</span>
                  </div>
                  <div>
                     <span class="day">14</span>
                  </div>
                  <div>
                     <span class="day">15</span>
                  </div>
                  <div>
                     <span class="day">16</span>
                  </div>
                  <div>
                     <span class="day">17</span>
                  </div>
                  <div>
                     <span class="day">18</span>
                  </div>
                  <div>
                     <span class="day">19</span>
                  </div>
                  <div>
                     <span class="day">20</span>
                  </div>
                  <div>
                     <span class="day">21</span>
                  </div>
                  <div>
                     <span class="day">22</span>
                  </div>
                  <div>
                     <span class="day">23</span>
                  </div>
                  <div>
                     <span class="day">24</span>
                  </div>
                  <div>
                     <span class="day">25</span>
                  </div>
                  <div>
                     <span class="day">26</span>
                  </div>
                  <div>
                     <span class="day">27</span>
                  </div>
                  <div>
                     <span class="day">28</span>
                  </div>
                  <div>
                     <span class="day">29</span>
                  </div>
                  <div>
                     <span class="day">30</span>
                  </div>
                  <td class="inactive">
                     <div>
                        <span class="day">1</span>
                     </div>
                  </td>
                  <td class="inactive">
                        <div>
                        <span class="day">2</span>
                     </div>
                  </td>
                  
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>