<% if current_user.role != 30 %>
   <li><img src="http://placehold.it/200x200&text=[xray]" /></li>
   <li><img src="http://placehold.it/200x200&text=[MRI]" /></li>
   <li><img src="http://placehold.it/200x200&text=[xray]" /></li>
   <li><img src="http://placehold.it/200x200&text=[xray]" /></li>
<% else %>
   <li><%= link_to_if(current_user.role == 30 || 100, "Check-in Patient", { controller: "charts", action: "check_in" }, class:"button") %></li>
   <li><img src="http://placehold.it/200x200&text=[MRI]" /></li>
   <li><img src="http://placehold.it/200x200&text=[xray]" /></li>
   <li><img src="http://placehold.it/200x200&text=[xray]" /></li>
<% end %>