<% provide(:title, 'Overview') %>
<br>
<!-- Header and Nav -->

<div class="row">
   <div class="large-12 columns">
      <div class="panel">
         <h1>Health &amp; Wellness Overview</h1>
      </div>
   </div>
</div>

<!-- End Header and Nav -->


<div class="row">

   <!-- Nav Sidebar -->
   <div class="large-3 columns ">
      <div class="panel">
         <a href="#"><img src="http://placehold.it/300x240&text=[MAHfACE]" /></a>
         <h5><a href="#"><%= current_user.email %></a></h5>
         <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
            <section class="section">
               <h5 class="title">
                  <%= link_to "Personal Information", edit_user_registration_path %>
               </h5>
            </section>
            <section class="section">
               <h5 class="title">
                  <!-- <= link_to "Reports", reports_summary_path %> -->
               </h5>
            </section>
            <section class="section">
               <h5 class="title">
                  <!-- <= link_to "Appointments", appointments_path %> -->
               </h5>
            </section>
         </div>

      </div>
   </div>

   <!-- Main Feed -->
   <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
   <div class="large-6 columns">

   <% if current_user.messages.any? %>
      <h3>Messages (<%= current_user.messages.count %>)</h3>
      <!-- <ul class="messages"> -->
        <%= render partial: 'message', collection: @messages %>
      <!-- </ul> -->
    <% end %>

      <!-- Feed Entry -->
      <div class="row">
         <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[DOC]" /></div>
         <div class="large-10 columns">
            <p><strong>Most recent chart:</strong>
               <img src="http://placehold.it/600x80&text=[I am a chart link]" />
            </p>
            <ul class="inline-list">
               <li><a href="">Comment</a></li>
            </ul>


            <h6>2 Comments</h6>
            <div class="row">
               <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[DOC]" /></div>
               <div class="large-10 columns"><p>Your last visit was really a check-up. However, I am a little concerned with your most recent blood pressure.</p></div>
            </div>
            <div class="row">
               <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[PATIENT]" /></div>
               <div class="large-10 columns"><p>Thanks for your concern. But it was jus' cuz I ate, lik, 70 slices a dat bacon before seei'n ya! ;) ;)</p></div>
            </div>
         </div>
      </div>
      <!-- End Feed Entry -->

      <hr />

      <!-- Feed Entry -->
      <div class="row">
         <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]" /></div>
         <div class="large-10 columns">
            <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
            <ul class="inline-list">
               <li><a href="">Reply</a></li>
               <li><a href="">Share</a></li>
            </ul>
         </div>
      </div>
      <!-- End Feed Entry -->

      <hr />

      <!-- Feed Entry -->
      <div class="row">
         <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]" /></div>
         <div class="large-10 columns">
            <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
            <ul class="inline-list">
               <li><a href="">Reply</a></li>
               <li><a href="">Share</a></li>
            </ul>


            <h6>2 Comments</h6>
            <div class="row">
               <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]" /></div>
               <div class="large-10 columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
            </div>
         </div>
      </div>
      <!-- End Feed Entry -->

   </div>

   <!-- Right Sidebar -->
   <!-- On small devices this column is hidden -->
   <aside class="large-3 columns hide-for-small">
      <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
         <li><img src="http://placehold.it/200x200&text=[xray]" /></li>
         <li><img src="http://placehold.it/200x200&text=[MRI]" /></li>
         <li><img src="http://placehold.it/200x200&text=[xray]" /></li>
         <li><img src="http://placehold.it/200x200&text=[xray]" /></li>
      </ul>
   </aside>

</div>