// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.size-72{
   font-size: 72pt;
}

.dash-icons{
   a{
      color: #222222;
   }

   a:hover{
      color:#19D89A;
   }
   
}

.active-icon{
   color: #0D9B6D;

   a{
      color:#0D9B6D;
   }
}

.message-sender{
   color:#0D9B6D;
}

.message-item-panel{

}